{{- if eq .chezmoi.os "darwin" -}}
# macOS-specific cask install directory
cask_args appdir: '/Applications'
{{- end }}

tap "hashicorp/tap"
tap "joemiller/taps"
tap "cloudflare/cloudflare"
tap "fluxcd/tap"
tap 'azure/kubelogin'

{{- if eq .chezmoi.os "darwin" }}
cask 'discord'
cask 'dropbox'
cask 'spotify'
cask 'dbeaver-community'
cask 'postman'
cask 'visual-studio-code'
cask 'vlc'
cask 'appcleaner'
cask 'raycast'
cask 'iterm2'
cask 'keepassxc'
cask 'slack'
cask 'shadow'
cask 'scroll-reverser'
cask 'azure-data-studio'
{{- end }}

brew 'asdf'
brew 'azure-cli'
brew 'Azure/kubelogin/kubelogin'
brew 'tig'
brew 'pipx'
brew 'awscli'
brew 'cdk8s'
brew 'coreutils'
brew 'chezmoi'
brew 'docker'
brew 'docker-compose'
brew 'docker-buildx'
brew 'fzf'
brew "git"
brew "git-grab"
brew "git-lfs"
brew "istioctl"
brew "zsh"
brew "vim"
brew "jq"
brew "gpg"
brew "tree"
brew "colordiff"
brew "wget"
brew "tfenv"
brew "tgenv"
brew "kind"
brew "kube-ps1"
brew "kubectl"
brew "krew"
brew "kubectx"
brew "helm"
brew "k9s"
brew "cloudflared"
brew "pnpm"
brew "nvm"
brew "fluxcd/tap/flux"
brew "postgresql"
brew "uv"

{{- if eq .chezmoi.os "darwin" }}
brew 'colima'
brew "gnu-sed"
{{- end }}